body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato'
}

.HeaderContainer {
  display: flex;
  align-items: center;
}

.HeaderContainer-image {
  width: 160px;
}

.HeaderContainer-headline {
  margin: 0 3rem;
  font-size: 6rem;
}

.MemeGeneratorContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.MemeGeneratorContainer-image {
  width: 100%;
}

.MemeGeneratorContainer-topText,
.MemeGeneratorContainer-bottomText {
  position: absolute;
   -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    font-size: 3rem;
}

.MemeGeneratorContainer-topText {
  top: 0;
}

.MemeGeneratorContainer-bottomText {
  bottom: 0;
}